﻿* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 880px;
    margin: 0 auto;
    padding: 0px 15px;
}

.black-background {
    background: black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: .5;
    display: none;
}

.my-name-holder {
    float: left;
    font-family: 'Museo700';
    color: white;
    padding-top: 7px;
    margin-right: 10px;
}



/*-----------------header section-----------------*/
header {
    display: block;
    background: #4a4a4a;
    display: inline-block;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
}

.menu-dropdown-link {
    background: url(../images/arrow-menu-down.png) no-repeat center;
    width: 40px;
    height: 50px;
    float: left;
}

.menu-dropdown-link-text {
    color: white;
    float: left;
    border-left: 1px solid #fff;
    padding-left: 15px;
    margin-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 8px;
    font-family: "Museo700";
}

.left-menu {
    float: left;
    padding-left: 10px;
    cursor: pointer;
}

.right-menu {
    float: right;
    padding-right: 10px;
    margin-top: 7px;
}

.twitter-icon {
    background: url(../images/twitter.png) no-repeat center;
    float: left;
    width: 33px;
    height: 33px;
    margin-right: 10px;
}

.linkedin-icon {
    background: url(../images/linkedin.png) no-repeat center;
    float: left;
    width: 33px;
    height: 33px;
    margin-right: 10px;
}

.behance-icon {
    background: url(../images/behance.png) no-repeat center;
    float: left;
    width: 33px;
    height: 33px;
}

.menu-items {
    background: #4a4a4a;
    height: 170px;
    position: fixed;
    z-index: 1;
    width: 100%;
    display: none;
}

.close-menu-link {
    background: url(../images/close.png) no-repeat center;
    width: 40px;
    height: 50px;
    float: left;
    margin-left: 10px;
}

#closeMenuSection {
    cursor: pointer;
    clear;
    both;
    height: 50px;
    width: 135px;
}

.menu-link {
    background: #0078ff;
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 15px;
    position: relative;
    transition: background .25s ease;
    -webkit-transition: background .25s ease;
    -ms-transition: background .25s ease;
    -moz-transition: background .25s ease;
    cursor: pointer
}

.menu-items .menu-link:hover {
    background: #0D59AD;
}


.menu-link-text {
    font-family: "Museo300";
    color: white;
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
}

.home-icon {
    background: url(../images/home.png) no-repeat center;
    width: 63px;
    height: 75px;
    margin: 0 auto;
}

.portfolio-icon {
    background: url(../images/portfolio.png) no-repeat center;
    width: 55px;
    height: 75px;
    margin: 0 auto;
}

.about-icon {
    background: url(../images/about.png) no-repeat center;
    width: 40px;
    height: 75px;
    margin: 0 auto;
}

.contact-icon {
    background: url(../images/contact.png) no-repeat center;
    width: 65px;
    height: 75px;
    margin: 0 auto;
}

.cook-icon {
    background: url(../images/cook.png) no-repeat center;
    width: 70px;
    height: 75px;
    margin: 0 auto;
}

.menu-link-holder {
    padding: 0px 10px;
    margin-top: 7px;
}

a {
    border: none;
}

/*-----------------content section-----------------*/
.home-text {
    font-family: "Museo300";
    color: #4a4a4a;
    font-size: 60px;
    margin-top: 60px;
    display: none;
    transition: font-size 1s ease;
}

.quote-sayer {
    clear: both;
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Museo300';
    color: #4a4a4a;
    display: none;
    transition: font-size 1s ease;
    transition: margin-top 1s ease;
}

.quote-section {
    float: left;
    width: 20px;
}

.about-section {
    margin-top: 60px;
    color: #4a4a4a;
}

#tabs {
    display: none
}

.friends-section {
    display: none;
}


#tabs ul {
    float: left;
    width: 100%;
    border-bottom: 1px solid #4a4a4a;
    margin-bottom: 30px;
}

.arrow {
    background: url(../images/arrow.png) no-repeat center;
    height: 8px;
    width: 17px;
}

#tabs ul li.active {
    background: white;
    color: #4a4a4a;
}

#tabs li, #tabs li a {
    float: left;
    font-family: "Museo300";
}

#tabs ul li a {
    text-decoration: none;
    padding: 8px 20px;
}

#tabs li {
    list-style: none;
}

#tabs ul li.active a {
    background: #4a4a4a;
    color: white
}

#tabs ul li a {
    background: white;
    color: #4a4a4a;
    border-right: 1px solid #4a4a4a;
}

#tabs div {
    clear: both;
}

img {
    padding: 0;
    margin: 0px;
}

#tab-2 {
    margin-bottom: 50px;
}

section.pdf-icon {
    background: url(../images/pdf.png) no-repeat center;
    width: 132px;
    height: 90px;
}

h1.title {
    font-family: "Museo700";
    color: #4a4a4a;
    font-size: 30px;
    margin-bottom: 5px;
}

section.wrapper {
    max-width: 620px;
    margin: 0 auto;
}

section.misc-list {
    margin-bottom: 60px;
    display: inline-block;
    width: 100%;
}

article.branding {
    border: 1px solid #b5b5b5;
    float: left;
    width: 46%;
    box-shadow: 0px 0px 13px #999;
    margin-bottom: 7%;
}

article.branding-right {
    border: 1px solid #b5b5b5;
    float: left;
    width: 46%;
    box-shadow: 0px 0px 13px #999;
    margin-left: 6.5%;
    margin-bottom: 7%;
}

article.web-container {
    border: 1px solid #b5b5b5;
    margin-bottom: 7%;
    box-shadow: 0px 0px 13px #999;
    position: relative
}

article.web-container-right {
    border: 1px solid #b5b5b5;
    margin-bottom: 7%;
    margin-left: 6.5%;
    float: left;
    width: 46%;
    box-shadow: 0px 0px 13px #999;
    position: relative
}


article.branding img, article.branding-right img, article.web-container img {
    margin-bottom: -4px;
}

span.click-here-link {
    background: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid #E0E0E0;
    padding-top: 5px;
    padding-bottom: 5px;
}

    span.click-here-link span {
        padding-left: 10px;
    }

.contact-info {
    font-family: 'Museo300';
    font-size: 15px;
    float: left;
}

.photo {
    float: right;
    width: 134px;
}

aside.experience-list {
    float: left;
}

aside.skills-list {
    float: right;
}


p {
    font-family: 'CalibriRegular';
    font-size: 15px;
}

section.image-description {
    padding: 5px;
}

.contact-header {
    margin-top: 30px;
    font-size: 60px;
    font-family: 'Museo700';
    color: #4a4a4a;
    transition: font-size .5s ease
}

article.web-container a {
    font-family: arial;
    font-size: 12px;
    color: #3366cc;
}

/*-----------------font-face-----------------*/

@font-face {
    font-family: "Museo300";
    src: url("../fonts/museo300-regular-webfont.eot");
    src: url("../fonts/museo300-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo300-regular-webfont.woff") format("woff"), url("../fonts/museo300-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Museo700";
    src: url("../fonts/museo700-regular-webfont.eot");
    src: url("../fonts/museo700-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo700-regular-webfont.woff") format("woff"), url("../fonts/museo700-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CalibriRegular';
    src: url('../fonts/calibri.eot');
    src: url('../fonts/calibri.eot') format('embedded-opentype'), url('../fonts/calibri.woff') format('woff'), url('../fonts/calibri.ttf') format('truetype'), url('../fonts/calibri.svg#CalibriRegular') format('svg');
}

@font-face {
    font-family: "CalibriBold";
    src: url('../fonts/Calibri-Bold.eot');
    src: url('../fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Calibri-Bold.svg#CalibriBold') format('svg'), url('../fonts/Calibri-Bold.woff') format('woff'), url('../fonts/Calibri-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*-------------------responsive queries---------------------*/
@media screen and (max-width:775px) {
    article.branding, article.branding-right {
        float: none;
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }
}

@media screen and (max-width:705px) {
    .home-text {
        font-size: 45px;
    }
}

@media screen and (max-width:630px) {
    .home-icon, .about-icon, .portfolio-icon, .contact-icon, .cook-icon {
        display: none;
    }

    .menu-link {
        width: 48%;
        margin-right: 1%;
        margin-bottom: 10px;
        height: 30px;
        margin-left: 1%
    }

    .menu-items {
        height: 180px;
    }
}

@media screen and (max-width:570px) {
    .photo {
        display: none;
    }
}

@media screen and (max-width:550px) {
    .my-name-holder, .right-menu {
        display: none;
    }
}

@media screen and (max-width:480px) {
    .home-text {
        font-size: 30px;
        margin-top: 30px;
    }

    .quote-sayer {
        font-size: 20px;
        margin-top: 20px;
    }

    aside.experience-list, aside.skills-list {
        float: none
    }

    aside.skills-list, .about-section {
        margin-top: 30px;
    }

    section.pdf-icon {
        margin: 0 auto;
    }

    .contact-header {
        font-size: 30px
    }

    #tabs li {
        text-align: center;
        width: 100%;
        margin-bottom: 16px;
    }

        #tabs li a {
            float: none
        }

    #tabs ul li.active {
        margin-bottom: 22px;
    }

    #tabs ul li a {
        border-right: none;
    }
}

@media screen and (max-width:320px) {
    .menu-dropdown-link-text {
        display: none
    }
}
