﻿<div class="wrapper">
    <script type="text/javascript">$(document).ready(function() {

            var home = $(".home-text");
            var quote = $(".quote-sayer");

            home.delay("500").fadeIn("slow", function(){
                quote.delay("500").fadeIn("slow");
            });
        });</script>
    <div class="home-text">
        "I am an award-winning
        <strong style="font-family: 'Museo700'">Graphic / Web Designer,</strong>
        always open to new challenges
        and opportunities."<br />


    </div>
    <div class="quote-sayer">
        - Adam Schmidt
    </div>
</div>
<div class="black-background"></div>