﻿<div class="wrapper">
			<div class="about-section">
				<script>
					$(document).ready(function() {
						
						var home = $("#tabs");
						home.delay("500").fadeIn("slow")
						
						
						$('#tabs div').hide();
						$('#tabs div:first').show();
						$('#tabs ul li:first').addClass('active');

						$('#tabs ul li a').click(function() {
							$('#tabs ul li').removeClass('active');
							$(this).parent().addClass('active');
							var currentTab = $(this).attr('href');
							$('#tabs div').fadeOut("fast").delay("500");
							$(currentTab).fadeIn("fast");
							return false;
						});
					});

				</script>
				<div id="tabs">
					<ul>
						<li>
							<a href="#tab-1">Web / UX</a>
							
						</li>
						<li>
							<a href="#tab-2">Branding</a>
						</li>
						<li>
							<a href="#tab-3">Print</a>
						</li>
					</ul>
					<div id="tab-1">
						<article class="web-container">
							<img src="images/portfolio/web-UX/IOSMobile.png" width="100%" />
						</article>
						
						
						<article class="web-container">
							<img src="images/portfolio/web-UX/ChangeOrderDetailsMobile.png" width="100%" />
						</article>
						<article class="web-container">
							<img src="images/portfolio/web-UX/Upgrade-to-Accounting-summaryReDesigned.jpg" width="100%" />
						</article>
						<article class="web-container">
							<img src="images/portfolio/web-UX/upgrade-tier-part-2-popup.jpg" width="100%" />
						</article>
						<article class="web-container">
							<img src="images/portfolio/web-UX/mycookbookAdminLogin.png" width="100%" />
							<span class="click-here-link">
								<span><a href="http://www.mycookbook.biz/login/" target="_blank">click here</a></span>	
							</span>
						</article>
						<article class="web-container">
							<img src="images/portfolio/web-UX/WePayReceipt-Redo.png" width="100%" />
						</article>
						<!--<article class="web-container" style="position:relative">
							<img src="images/portfolio/web-UX/buildertrend-software-advice.jpg" width="100%" />
							<span class="click-here-link">
								<span><a href="http://www.softwareadvice.com/construction/buildertrend-profile/" target="_blank">click here</a></span>	
							</span>
						</article>-->
						<article class="web-container">
							<img src="images/portfolio/web-UX/subSetupPage.png" width="100%" />
						</article>
						<article class="web-container">
							<img src="images/portfolio/web-UX/gettingStartedEmail.png" width="100%" />
							<span class="click-here-link">
								<span><a href="http://www.adamistheschmidt.com/btGettingStartedEmail/" target="_blank">click here</a></span>	
							</span>
						</article>
						<article class="web-container">
							<img src="images/portfolio/web-UX/buildertrend-online-help.jpg" width="100%" />
						</article>
						<article class="web-container">
							<img src="images/portfolio/web-UX/buildertrend-online-help-responsive.png" width="100%" />
						</article>
						<article class="web-container">
							<img src="images/portfolio/web-UX/AccountSuspendedPage.png" width="100%" />
						</article>
						<!--<article class="web-container">
							<img src="images/portfolio/web-UX/buildertrend-bid-details.png" width="100%" />
						</article>-->
						<article class="web-container">
							<img src="images/portfolio/web-UX/BuilderTRENDSignup.png" width="100%" />
						</article>
						<article class="web-container">
							<img src="images/portfolio/web-UX/mycookbook.png" width="100%" />
							<span class="click-here-link">
								<span><a href="http://www.mycookbook.biz/" target="_blank">click here</a></span>	
							</span>
						</article>
						<article class="web-container">
							<img src="images/portfolio/web-UX/mycookbookadmin.jpg" width="100%" />
							<span class="click-here-link">
								<span><a href="http://www.mycookbook.biz/login" target="_blank">click here</a></span>	
							</span>
						</article>
						<!--<article class="web-container">
							<img src="images/portfolio/web-UX/buildertrend-mobile-login.jpg" width="100%" />
						</article>-->
						<article class="web-container">
							<img src="images/portfolio/web-UX/horizonHoldingCMS.png" width="100%" />
							<!--<span class="click-here-link">
								<span><a href="http://horizonholding.com/cms/" target="_blank">click here</a></span>	
							</span>!-->
						</article>
						<!--<article class="web-container">
							<img src="images/portfolio/web-UX/borgen.jpg" width="100%" />
							<span class="click-here-link">
								<span><a href="http://www.adamistheschmidt.com/borgenproject/" target="_blank">click here</a></span>	
							</span>
						</article>!-->
						<article class="web-container">
							<img src="images/portfolio/web-UX/signup-sheet.png" width="100%" />
							<span class="click-here-link">
								<span><a href="http://www.adamistheschmidt.com/btConfirmation/" target="_blank">click here</a></span>	
							</span>
						</article>
						<!--<article class="web-container">
							<img src="images/portfolio/web-UX/Forum.png" width="100%" />
						</article>-->
						<article class="web-container">
							<img src="images/portfolio/web-UX/buildertrend-jobsite-details.png" width="100%" />
							<!--<span class="click-here-link">
								<span><a href="http://www.adamistheschmidt.com/elle/" target="_blank">click here</a></span>	
							</span>!-->
						</article>
						<!--<article class="web-container">
							<img src="images/portfolio/web-UX/sibbel.jpg" width="100%" />
							<span class="click-here-link">
								<span><a href="http://adamistheschmidt.com/sibbelpartners/" target="_blank">click here</a></span>	
							</span>
						</article>!-->
						<!--<article class="web-container">
							<img src="images/portfolio/web-UX/st-lukes.jpg" width="100%" />
							<span class="click-here-link">
								<span><a href="http://www.saintlukescolumbus.org/" target="_blank">click here</a></span>	
							</span>
						</article>-->
						<article class="web-container">
							<img src="images/portfolio/web-UX/OwnerSelectionDetails.png" width="100%" />
						</article>
						<article class="web-container">
							<img src="images/portfolio/web-UX/SessionTimeout.jpg" width="100%" />
						</article>
						<article class="web-container">
							<img src="images/portfolio/web-UX/GettingStartedChecklist.png" width="100%" />
							<span class="click-here-link">
								<span><a href="http://www.adamistheschmidt.com/checklist/" target="_blank">click here</a></span>	
							</span>
						</article>
						<!--<article class="web-container">
							<img src="images/portfolio/web-UX/buildertrend-transfer-leads.jpg" width="100%" />
						</article>
						<article class="web-container">
							<img src="images/portfolio/web-UX/buildertrend-workday.jpg" width="100%" />
						</article>-->
						<article class="web-container">
							<img src="images/portfolio/web-UX/ConversationDetails.png" width="100%" />
						</article>
						<article class="web-container">
							<img src="images/portfolio/web-UX/buildertrend-email-control.jpg" width="100%" />
						</article>
						<!--<article class="web-container">
							<img src="images/portfolio/web-UX/buildertrend-notifications.png" width="100%" />
						</article>-->
						<!--<article class="web-container">
							<img src="images/portfolio/web-UX/buildertrend-quickbooks.jpg" width="100%" />
						</article>!-->
						
					</div>
					<div id="tab-2">
						<article class="branding">
							<img src="images/portfolio/branding/abonega.jpg" width="100%" />
						</article>
						
						<article class="branding">
							<img src="images/portfolio/branding/elba.jpg" width="100%" />
						</article>
						<article class="branding-right">
							<img src="images/portfolio/branding/green-wagon.jpg" width="100%" />
						</article>
						<article class="branding">
							<img src="images/portfolio/branding/healing-heart.jpg" width="100%" />
						</article>
						<article class="branding-right">
							<img src="images/portfolio/branding/otis-company.jpg" width="100%" />
						</article>
						<article class="branding">
							<img src="images/portfolio/branding/rachel-wise.jpg" width="100%" />
						</article>
						<article class="branding-right">
							<img src="images/portfolio/branding/radio.jpg" width="100%" />
						</article>
						<article class="branding">
							<img src="images/portfolio/branding/sibbel-partners.jpg" width="100%" />
						</article>
						<article class="branding-right">
							<img src="images/portfolio/branding/whedon.jpg" width="100%" />
						</article>
						<article class="branding">
							<img src="images/portfolio/branding/cook-book.jpg" style="margin-bottom:-4px;" width="100%" />
						</article>
					</div>
					<div id="tab-3">
						<article class="branding">
							<img src="images/portfolio/Print/39-steps.jpg" width="100%" />
						</article>
						<article class="branding-right">
							<img src="images/portfolio/Print/greek.jpg" width="100%" />
						</article>
						<article class="branding">
							<img src="images/portfolio/Print/i-will-be-me.jpg" width="100%" />
						</article>
						<article class="branding-right">
							<img src="images/portfolio/Print/junior-achievement.jpg" width="100%" />
						</article>
						<article class="branding">
							<img src="images/portfolio/Print/love-labours-lost.jpg" width="100%" />
						</article>
						<article class="branding-right">
							<img src="images/portfolio/Print/magicians-nephew.jpg" width="100%" />
						</article>
						<article class="branding">
							<img src="images/portfolio/Print/paul-rusesabagina.jpg" width="100%" />
						</article>
						<!--<article class="branding-right">
							<img src="images/portfolio/Print/s-e-x2.jpg" width="100%" />
						</article>-->
						<article class="branding-right">
							<img src="images/portfolio/Print/see-rock-city.jpg" width="100%" />
						</article>
						<article class="branding">
							<img src="images/portfolio/Print/sibbel-partners.jpg" width="100%" />
						</article>
						<article class="branding-right">
							<img src="images/portfolio/Print/tigers-tour2.jpg" width="100%" />
						</article>
						<article class="branding">
							<img src="images/portfolio/Print/tigers-tour.jpg" width="100%" />
						</article>
						<article class="branding-right">
							<img src="images/portfolio/Print/three-little-pigs.jpg" width="100%" />
						</article>
						<article class="branding">
							<img src="images/portfolio/Print/working3.jpg" width="100%" />
						</article>
						<article class="branding-right">
							<img src="images/portfolio/Print/theater-poster2.jpg" width="100%" />
						</article>
						<article class="branding">
							<img src="images/portfolio/Print/theatre-poster.jpg" width="100%" />							
						</article>
						<article class="branding-right">
							<img src="images/portfolio/Print/builderTREND-pricing-sheets.jpg" width="100%" />
						</article>

						
					</div>
				</div>

			</div>

		</div>
