﻿<!DOCTYPE html>
<html>
<head>
    <title>Portfolio of Adam Schmidt</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <meta name="keywords" content="Graphic Design, Adam Schmidt, Omaha NE, NE Creative, Young Talent, Advertising, Web Design, Mobile Web Design, Logo, Layout, Brochure, Creative" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Portfolio of Adam Schmidt" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
        <script src="/Scripts/html5shiv.js" type="text/javascript"></script>
    <![endif]-->
    <script type="text/javascript">document.createElement("section");
    document.createElement("header");
    document.createElement("footer");
    document.createElement("article");
    document.createElement("aside");</script>

</head>
    <body>
        <script>
	$(document).ready(function() {
		$(".left-menu").click(function() {
			$(".menu-items").slideDown("fast");
			$(".black-background").show();
		});
		$("#closeMenuSection").click(function() {
			$(".menu-items").slideUp("fast");
			$(".black-background").hide();
		});
		
		
	});
	
	
</script>

<header>
	<div class="menu-items">
		<div id="closeMenuSection">	
			<div class="close-menu-link"></div>
			<div class="menu-dropdown-link-text">
				Close
			</div>
		</div>
		<div class="menu-link-holder">
			<a href="/">
				<div class="menu-link">
					<div class="home-icon"></div>
					<div class="menu-link-text">
						Home
					</div>
				</div>
			</a>

			<a href="/portfolio">
				<div class="menu-link">
					<div class="portfolio-icon"></div>
					<div class="menu-link-text">
						Portfolio
					</div>
				</div>
			</a>			
			<a href="/contact">
				<div class="menu-link">
					<div class="contact-icon"></div>
					<div class="menu-link-text">
						Contact
					</div>
				</div>
			</a>
			<a href="http://www.mycookbook.biz/" target="_blank">
				<div class="menu-link">
					<div class="cook-icon"></div>
					<div class="menu-link-text">
						Hungry?
					</div>
				</div>
			</a>
		</div>
	</div>
	
	
	<div class="left-menu">
		<div class="menu-dropdown-link"></div>	
		<div class="menu-dropdown-link-text">
			<script>
				document.write(document.title);
			</script>
		</div>
	</div>
	<div class="right-menu">
		<div class="my-name-holder">
			Adam Schmidt	
		</div>
		<a href="https://twitter.com/AdamTheSchmidt" target="_blank"><div class="twitter-icon"></div></a>
		<a href="http://www.linkedin.com/pub/adam-schmidt/24/26a/96b" target="_blank"><div class="linkedin-icon"></div></a>
		<a href="http://www.behance.net/AdamSchmidt" target="_blank"><div class="behance-icon"></div></a>
	</div>
</header>
<div style="height:50px; clear:both;"></div>


        @RenderBody()
        <div class="black-background"></div>
    </body>
</html>
