﻿<div class="wrapper">
			<div class="about-section">
				<script>
					$(document).ready(function() {
						var home = $("#tabs");
						home.delay("500").fadeIn("slow")
						
						
						$('#tabs div').hide();
						$('#tabs div:first').show();
						$('#tabs ul li:first').addClass('active');

						$('#tabs ul li a').click(function() {
							$('#tabs ul li').removeClass('active');
							$(this).parent().addClass('active');
							var currentTab = $(this).attr('href');
							$('#tabs div').fadeOut("fast").delay("500");
							$(currentTab).fadeIn("fast");
							return false;
						});
					});

				</script>
				<div id="tabs">
					<ul>
						<li>
							<a href="#tab-1">About</a>
							
						</li>
						<li>
							<a href="#tab-2">Reference</a>
						</li>
					</ul>
					<div id="tab-1">
						<section class="about-arrow"></section>
						<section class="wrapper">
						<aside class="experience-list">
							<h1 class="title">
								Experience
							</h1>
							<p>
								<span style="font-family: 'CalibriBold'">BUILDERTREND SOLUTIONS</span><br />
								<span style="font-family: 'CalibriBold'">USER EXPERIENCE DESIGNER</span><br />
								April 2013 - Present<br />
								<br />
								<span style="font-family: 'CalibriBold'">CAMBIUM LEARNING GROUP / CLASS.COM</span><br />
								<span style="font-family: 'CalibriBold'">CONTRACT GRAPHIC DESIGNER</span><br />
								May 2012 - September 2012<br />
								<br />
								<span style="font-family: 'CalibriBold'">CLARK CREATIVE GROUP</span><br />
								<span style="font-family: 'CalibriBold'">DESIGN INTERN</span><br />
								April 2012 - May 2012<br />
								<br />
								<span style="font-family: 'CalibriBold'">DOANE COLLEGE</span><br />
								<span style="font-family: 'CalibriBold'">CONTRACT GRAPHIC DESIGNER</span><br />
								Nov 2010 - May 2012<br />
								<br />
								<span style="font-family: 'CalibriBold'">FREELANCE</span><br />
								<span style="font-family: 'CalibriBold'">GRAPHIC / WEB DESIGNER</span><br />
								Aug 2009 - Present<br />
								<br />
								<span style="font-family: 'CalibriBold'">SIBBEL AND PARTNERS, LLC</span><br />
								<span style="font-family: 'CalibriBold'">FREELANCE ART DIRECTOR / WEB DEVELOPER</span><br />
								May 2010 - April 2011<br />
								<br />
								<span style="font-family: 'CalibriBold'">LOCAL HERO DESIGN</span><br />
								<span style="font-family: 'CalibriBold'">DESIGN INTERN</span><br />
								May 2009 - Aug 2009
							</p>
						</aside>
						<aside class="skills-list">
							<h1 class="title">
								Skills
							</h1>
							<p style="font-family: 'CalibriBold'">
								PHOTOSHOP<br />
								ILLUSTRATOR<br />
								INDESIGN<br />
								DREAMWEAVER<br />
								FLASH<br />
								ACTIONSCRIPT 3<br />
								HTML<br />
								CSS<br />
								JQUERY<br />
								PHP<br />
								MYSQL<br />
								WORDPRESS<br />
								JOOMLA!<br />
								ASP.NET(BASIC)<br />
								VB.NET(BASIC)
							</p>
							<section style="border-top:1px solid #4a4a4a; margin-top:20px; padding-top:10px;"></section>
							<a style="text-decoration:none; color:#4a4a4a"href="Resume.pdf" target="_blank"><p style="font-family: 'CalibriBold'">
								DOWNLOAD RESUME
							</p>
							<section class="pdf-icon"></section></a>
						</aside>
						</section>
					</div>
					<div id="tab-2">
						<p>If you are considering Mr. Schmidt for a design position, rest assured that he comes highly recommended.
 						Adam has worked for our office as a student designer and I've enjoyed seeing him develop from a novice with 
 						only knowledge from books, into a talented designer with a diverse set of skills.<br />
 						<br />
						Adam responds well to demanding timelines and applies himself with creative enthusiasm to any project presented. 
						He is curious and confidently asks questions if he needs direction. Hence, I believe that he will be able to take
						on any design challenge and be successful. Independently or as a team player, Adam is indeed, the Schmidt.<br />
 						<br />
						<span style="font-family: 'CalibriBold'">Allan Recalde<br />
						Art Director<br />
						Doane College<br />
						<a href="mailto:allan.recalde@doane.edu" style="text-decoration:underline; color:#4a4a4a">allan.recalde@doane.edu</a><-<br />
						402-826-6709</span></p>
						<section style="border-bottom:1px solid #4a4a4a; clear:both; margin:10px 0px;"></section>
						<p>I have had the pleasure of working with Adam on several design projects over the last year. 
						Following his graduation from Doane College in May, the Marketing Communication Office continues 
						to contract with Adam to do freelance design work.<br />
 						<br />
						Adam is extremely creative and professional. He takes direction and the lack of direction well for those projects 
						where there aren't so many parameters. Adam meets deadlines, has a great attitude and works hard to create 
						effective pieces.<br />
 						<br />
						I give Adam my highest recommendation. He is a skilled and talented designer that I am conﬁdent will only get even 
						better over time with mentoring and experience.<br />
 						<br />
						<span style="font-family: 'CalibriBold'">Jacque Pomajzl<br />
						Assoc. Vice President of Marketing and Public Relations<br />
						Doane College<br />
						<a href="mailto:jacque.pomajzl@doane.edu" style="text-decoration:underline; color:#4a4a4a">jacque.pomajzl@doane.edu</a><-<br />
						402-826-8294</span></p>
						<section style="border-bottom:1px solid #4a4a4a; clear:both; margin:10px 0px;"></section>
						<p>Greetings!<br />
 						<br />
						My name is Peter Morris, and I run a small advertising/design shop in Lincoln, Nebraska. This is a letter of 
						recommendation for Adam Schmidt, who worked as an intern in my office during the summer of 2009.<br />
 						<br />
						Adam was always very punctual, a professional. His first impression was that of an energetic, young professional 
						with a desire to learn about design. And those qualities held through the entire time he spent in the office. 
						In the short time he worked for Local Hero, his design skills grew at an amazing rate. He was always willing to 
						tackle any project offered to him.<br />
 						<br />
						Adam Schmidt would be a great candidate for a position. Put him to the test and just watch him go!<br />
	 					<br />
						<span style="font-family: 'CalibriBold'">Peter Morris<br />
						Creative Director<br />
						Local Hero Design<br />
						<a href="mailto:info@localherodesign.com" style="text-decoration:underline; color:#4a4a4a">info@localherodesign.com</a><-<br />
						402-742-4125</span></p>
						<section style="border-bottom:1px solid #4a4a4a; clear:both; margin:10px 0px;"></section>
						<p>Adam has been a dedicated intern/employee serving as a Web Designer and Art Director the past ten weeks. 
						During that time he has provided strong skills and talent for our creative needs.<br />
 						<br />
						He has provided excellent web design, collateral material design and layout, logo design and a very professional w
						ork ethic. Adam has responded to project direction and input very well.<br />
 						<br />
						I would be happy to provide additional input as many be required by any potential employer. 
						You may reach me at the number or email.<br />
 						<br />
						<span style="font-family: 'CalibriBold'">Mick Sibbel<br />
						President<br />
						Sibbel and Partners, LLC.<br />
						<a href="mailto:mick@sibbelpartners.com" style="text-decoration:underline; color:#4a4a4a">mick@sibbelpartners.com</a><-<br />
						402-450-7530</span></p>
						<section style="border-bottom:1px solid #4a4a4a; clear:both; margin:10px 0px;"></section>
						<p>It is my pleasure to write this open letter of recommendation for Adam Schmidt, a 2011 graduate of Doane College. 
						Adam worked for me during his senior year (academic year 2010-2011) to assist with preparing marketing materials 
						for the Hansen Leadership Program, an on-campus leadership development program for undergraduates. Adam worked for 
						me throughout the year, and I believe I can speak to his talent in design, his work ethic, 
						and my overall experience in working with him.<br />
 						<br />
						Adam is very talented, and he has a good sense of the unexpected. His work has a distinct "look," 
						but he understands the importance of creating unique pieces that communicate information. So long as 
						I was able to give Adam clear direction regarding my expectations and needs, he was well-equipped to 
						deliver materials that were highly satisfactory. Frankly, I miss working with Adam for this reason.<br />
 						<br />
						As a supervisor, I was pleased that Adam was able to provide materials in a timely manner, and it was a 
						good experience for me to work with someone as independent as Adam. He prefers to work as he is inspired.<br />
 						<br />
						Overall, I found working with Adam to be a good experience, and I very much admire his creative abilities. 
						I hope that you will find his work to be in keeping with your needs, and I urge you to consider his application strongly.<br />
 						<br />
						If I may provide any further information, please do not hesitate to contact me.<br />
 						<br />
						<span style="font-family: 'CalibriBold'">Carrie Petr, Ph.D<br />
						Director, Hansen Leadership Program<br />
						<a href="mailto:carrie.petr@doane.edu" style="text-decoration:underline; color:#4a4a4a">carrie.petr@doane.edu</a><-<br />
						402-826-8271</span></p>
					</div>
				</div>

			</div>

		</div>
