﻿<div class="wrapper">
	<script type="text/javascript">
		$(document).ready(function() {
			
			var home = $(".home-text");
			
			
			home.delay("500").fadeIn("slow", function(){
				quote.delay("500").fadeIn("slow");
			});
		});
	</script>
	
	
	<div class="home-text" style="font-family: 'Museo700'">	

		
		<div class="contact-info">
			<strong class="contact-header">Contact Info.</strong><br />
			402-560-6156<br />
			<a href="mailto:adamschmidt22@gmail.com" style="color: #4a4a4a;">adamschmidt22@gmail.com</a><br /> 
			<span style="font-family: 'Museo700'">Interested in freelance opportunities?</span> 
		</div>
		<div class="photo">
			<img src="images/adam.jpg" width="100%"/>
		</div>
		
		 <div style="clear:both"></div>
	</div>	

	

	
</div>
